<div th:fragment="form(update)">
    
    <!-- Fullname -->
    <div class="form-group">
        <label for="fullname" th:text="#{label.fullname}" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="text" th:field="*{fullname}" id="fullname" th:placeholder="#{placeholder.fullname}" class="col-4" maxlength="125">
            <small class="form-text text-muted" th:text="#{help.fullname}"></small>
            <p class="text-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></p>
        </div>
    </div>

    <!-- Username -->
    <div class="form-group">
        <label for="username" th:text="#{label.username}" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="text" th:field="*{username}" id="username" th:placeholder="#{placeholder.username}" class="col-4" maxlength="125">
            <small class="form-text text-muted" th:text="#{help.username}"></small>
            <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>
    </div>

    <!-- Password -->
    <div class="form-group">
        <label for="password" th:text="#{label.password}" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="password" th:field="*{password}" id="password" th:placeholder="#{placeholder.password}" class="col-4" maxlength="125">
            <small class="form-text text-muted"
                   th:text="${update} ? #{help.password.update} : #{help.password.create}">
            </small>
            <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
    </div>

    <!-- Role -->
    <div class="form-group">
        <label for="role" th:text="#{label.role}" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <label class="checkbox-inline"><input type="radio" th:field="*{role}" th:value="ADMIN"><span th:text="#{role.admin}"></span></label>
            <label class="checkbox-inline"><input type="radio" th:field="*{role}" th:value="USER"><span th:text="#{role.user}"></span></label>
            <small class="form-text text-muted" th:text="#{help.role}"></small>
            <p class="text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>
        </div>
    </div>

    <!-- Id (hidden if update) -->
    <div th:if="${update}">
        <input type="hidden" th:field="*{id}">
    </div>

    <!-- Submit -->
    <div th:replace="~{fragments/common/formbuttons :: formButtons('/user/list', ${update}, 'User')}"></div>
    
</div>
