<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
    <!-- Menu -->
    <div th:replace="~{fragments/common/navbar :: navbar}"></div>
    <div class="row"><h2>Rule List</h2></div>
    <div class="row">
        <a href="/rule/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>json</th>
                    <th>template</th>
                    <th>sql</th>
                    <th>sqlPart</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rule : ${rules}">
                    <td style="width: 10%" th:text="${rule.id}"></td>
                    <td th:text="${rule.name}"></td>
                    <td th:text="${rule.description}"></td>
                    <td th:text="${rule.json}"></td>
                    <td th:text="${rule.template}"></td>
                    <td th:text="${rule.sqlStr}"></td>
                    <td th:text="${rule.sqlPart}"></td>
                    <td style="width: 15%" class="text-center">
                        <a th:href="@{/rule/update/{id}(id=${rule.id})}">Edit</a>&nbsp;|&nbsp;
                        <a th:href="@{/rule/delete/{id}(id=${rule.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>