<!DOCTYPE html>
<!-- le contenu de cette page html est remplacée par base.html dans laquelle on lui injecte "content" -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/common/base :: layout(~{::content})}">

<!-- ce qui est injecté dans base.html -->
<div th:fragment="content">

    <div class="row">
        <h2>Add New Curve Point</h2>
    </div>

    <div class="row">
        <form th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
            <div th:replace="~{fragments/curvePoint/form :: form(false)}"></div>
        </form>
    </div>

</div>

</html>