<!DOCTYPE html>
<!-- le contenu de cette page html est remplacée par base.html dans laquelle on lui injecte "content" -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/common/base :: layout(~{::content})}">

<!-- ce qui est injecté dans base.html -->
<div th:fragment="content">

    <!-- Menu -->
    <div th:replace="~{fragments/common/navbar :: navbar}"></div>

    <div class="row">
        <h2>User List</h2>
    </div>
    
    <div class="row">
        <a href="/user/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Full Name</th>
                    <th>User Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td style="width: 10%" th:text="${user.id}"></td>
                    <td th:text="${user.fullname}"></td>
                    <td th:text="${user.username}"></td>
                    <td style="width: 25%" th:text="${user.role}"></td>
                    <div th:replace="~{fragments/common/actionsbuttons :: actions('user', ${user.id})}"></div>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

</html>