<!DOCTYPE html>
<!-- le contenu de cette page html est remplacée par base.html dans laquelle on lui injecte "content" -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/common/base :: layout(~{::content})}">
      
<!-- ce qui est injecté dans base.html -->
<div th:fragment="content">
    
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="p-4 border rounded shadow-sm" style="min-width: 350px;">
            <div class="mb-3">
                <p class="text-center fw-bold" th:text="${error} + ' - ' + ${status}"></p>
                <p class="text-center" th:text="${message}"></p>
            </div>
    
            <div class="mb-3 text-center">
                Logged in user: <b class="user" th:text="${username}"></b>
            </div>
    
            <div class="text-center">
                <form th:action="@{/}" method="GET">
                    <button type="submit" class="btn btn-primary btn-sm">Back to Home</button>
                </form>
            </div>
        </div>
    </div>
    
</div>

</html>
