<div th:fragment="form(update)">
    
    <div class="form-group">
        <label for="account" class="col-sm-2 control-label">Account</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{account}" id="account" placeholder="Account" class="col-4" maxlength="30" required>
            <small class="form-text text-muted">30 characters maximum</small>
            <p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{type}" id="type" placeholder="Type" class="col-4" maxlength="30" required>
            <small class="form-text text-muted">30 characters maximum</small>
            <p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
        </div>
    </div>
    <div class="form-group">
        <label for="buyQuantity" class="col-sm-2 control-label">Buy Quantity</label>
        <div class="col-sm-10">
            <input type="number" th:field="*{buyQuantity}" id="buyQuantity" placeholder="Buy Quantity" class="col-4" min="0.01" step="0.01" required>
            <small class="form-text text-muted">Enter a number greater than or equal to 0.01</small>
            <p class="text-danger" th:if="${#fields.hasErrors('buyQuantity')}" th:errors="*{buyQuantity}"></p>
        </div>
    </div>
    
    <!-- Submit -->
    <div th:replace="~{fragments/common/formbuttons :: formButtons('/trade/list', ${update}, 'Trade')}"></div>
    
</div>
